---
http_interactions:
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:denver/images/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"location","templated":true},{"href":"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/","name":"city","templated":true},{"href":"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/","name":"ua","templated":true},{"href":"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/","name":"country","templated":true},{"href":"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/","name":"a1","templated":true},{"href":"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/","name":"tz","templated":true}],"self":{"href":"https://api.teleport.org/api/urban_areas/slug:denver/images/"}},"photos":[{"attribution":{"license":"Attribution,
        ShareAlike","photographer":"Sheila Sund","site":"Flickr","source":"https://www.flickr.com/photos/sheila_sund/8903465080/"},"image":{"mobile":"https://d13k13wj6adfdf.cloudfront.net/urban_areas/denver-655725fd8b.jpg","web":"https://d13k13wj6adfdf.cloudfront.net/urban_areas/denver_web-9726d88300.jpg"}}]}'
  recorded_at: Mon, 02 Aug 2021 23:22:28 GMT
recorded_with: VCR 6.0.0
