---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=996a17d6a6c5c2aadbc085a736f62c0e&q=Charlotte,NC,US&unit=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-80.8431,"lat":35.2271},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"base":"stations","main":{"temp":305.75,"feels_like":309.48,"temp_min":303.15,"temp_max":307.6,"pressure":1013,"humidity":53},"visibility":10000,"wind":{"speed":2.06,"deg":360},"clouds":{"all":40},"dt":1627756588,"sys":{"type":1,"id":3648,"country":"US","sunrise":1627727501,"sunset":1627777658},"timezone":-14400,"id":4460243,"name":"Charlotte","cod":200}'
  recorded_at: Sat, 31 Jul 2021 18:40:52 GMT
recorded_with: VCR 6.0.0
